@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

html,
body,
#container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

body {
  background-color: white;
  background-image: url('background.jpg');
  background-size: auto;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'News Cycle', sans-serif;
}

.heading {
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px black;
}

input {
  background: #df9938;
  border: 1px solid #dedfdc;
  border-radius: 8px;
  height: 50px;
  width: 260px;
  font-size: 30px;
  color: rgb(97, 96, 96);
  font-weight: 100;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

.userInput {
  margin-bottom: 100px;
}

button {
  background: #015a6b;
  border: 1px solid #979797;
  border-radius: 8px;
  height: 50px;
  font-size: 30px;
  font-weight: 100;
  color: #dedfdc;

  margin-left: 20px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#resultsCard {
  visibility: hidden;
  background: #df9938;
  border: 3px solid #dedfdc;
  border-radius: 8px;
  width: 400px;
  height: 520px;
  margin: auto;
  margin-top: 40px;
  overflow: hidden;
}

#errorCard {
  visibility: hidden;
  background: #df9938;
  border: 3px solid #dedfdc;
  border-radius: 8px;
  width: 400px;
  margin: auto;
  position: relative;
  bottom: 500px;
}

img {
  max-width: 300px;
  max-height: 250px;
}

.locationAndTemp {
  font-size: 46px;
  color: #dedfdc;
  font-weight: 100;
  margin-bottom: 10px;
}

.description {
  font-size: 33px;
  color: #dedfdc;
  margin-top: 0;
}
